@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


@font-face {
  font-family: "Departure Mono Regular";
  src: url("/src/assets/fonts/DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2"),
       url("/src/assets/fonts/DepartureMono-1.500/DepartureMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.my-tooltip-font {
  font-family: Space Mono, Inconsolata, Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
}